<!DOCTYPE html>
<html lang="<?= App::getLocale() ?>" class="no-js <?= $this->makeLayoutPartial('frontend/browser_detector') ?>">
    <head>
        <?= $this->makeLayoutPartial('frontend/head') ?>
    </head>
    <body class="<?= $this->bodyClass ?>">
        <div id="app"></div>
        <!-- Flash Messages -->
   	 	<div id="layout-flash-messages"><?= $this->makeLayoutPartial('frontend/flash_messages') ?></div>

        <!-- vue js webpack -->
        <script src="<?= URL::asset('assets/static/app.js') ?>"></script>

    </body>
</html>
<?php // print_r($_SESSION['extedned']); ?>