/* main */
@import "variables.scss";

/*!
aceui-reimagine - v0.1.53 - 2017-06-29, 6:54:20 PM
ADOBE CONFIDENTIAL
==================
Copyright 2017 Adobe Systems Incorporated
All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of Adobe Systems Incorporated and its suppliers,
if any.  The intellectual and technical concepts contained
herein are proprietary to Adobe Systems Incorporated and its
suppliers and are protected by trade secret or copyright law.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from Adobe Systems Incorporated.
==================
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
body details summary,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
blockquote,
q {
    quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
    font-family: aceui-fonts;
   /* src: url(../font/aceui-fonts.eot?v=0.6.0);
    src: url(../font/aceui-fonts.eot?#iefix&v=0.6.0) format('embedded-opentype'), url(../font/aceui-fonts.woff?v=0.6.0) format('woff'), url(../font/aceui-fonts.ttf?v=0.6.0) format('truetype'), url(../font/aceui-fonts.svg#fontawesomeregular?v=0.6.0) format('svg');*/
    font-weight: 400;
    font-style: normal
}
[data-icon]:before {
    line-height: 1;
    content: attr(data-icon);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
[class*=" adobe-icon-"],
[class*=" aceui-icon-"],
[class^=adobe-icon-],
[class^=aceui-icon-] {
    font-family: aceui-fonts
}
*,
:after,
:before {
    box-sizing: border-box;
    border: 0
}
body {
    height: 5000px;
    font-family: adobe-clean, sans-serif;
    direction: ltr;
    margin: 0 auto;
    border: 0;
    zoom: 100%;
    color: #FFF;
    font-size: 1em;
    line-height: inherit;
    font-style: normal;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .2);
    min-height: 100%
}
sub,
sup {
    font-size: smaller
}
body.fixed {
    max-width: 60rem
}
body.fluid {
    width: 100%
}
img {
    max-width: 100%
}
.carousel.kaizen section figcaption form span.success,
a {
    color: #2b9af3;
    text-decoration: none;
    cursor: pointer
}
a:hover {
    color: #3cf;
    text-decoration: none
}
sup {
    vertical-align: super
}
sub {
    vertical-align: sub
}
h1 {
    font-size: 42px;
    font-size: 2.625rem;
    line-height: 43px;
    line-height: 2.6875rem;
    display: block;
    margin-top: .0227958em;
    margin-bottom: .0227958em;
    font-style: normal;
    font-weight: 300
}
h2,
h3,
h4 {
    font-weight: 500;
    font-style: normal;
    display: block
}
@media screen and (max-width: 45rem) {
    h1 {
        font-size: 32px;
        font-size: 2rem;
        line-height: 33px;
        line-height: 2.0625rem;
        margin-top: .03001429em;
        margin-bottom: .03001429em
    }
}
h2 {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 38px;
    line-height: 2.375rem;
    margin-top: .0517959em;
    margin-bottom: .0517959em
}
@media screen and (max-width: 45rem) {
    h2 {
        font-size: 28px;
        font-size: 1.75rem;
        line-height: 30px;
        line-height: 1.875rem;
        margin-top: .06712952em;
        margin-bottom: .06712952em
    }
}
h3 {
    font-size: 31px;
    font-size: 1.9375rem;
    line-height: 33px;
    line-height: 2.0625rem;
    margin-top: .08956818em;
    margin-bottom: .08956818em
}
@media screen and (max-width: 45rem) {
    h3 {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 27px;
        line-height: 1.6875rem;
        margin-top: .11376336em;
        margin-bottom: .11376336em
    }
}
h4 {
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 29px;
    line-height: 1.8125rem;
    margin-top: .14010425em;
    margin-bottom: .14010425em
}
@media screen and (max-width: 45rem) {
    h4 {
        font-size: 21px;
        font-size: 1.3125rem;
        line-height: 24px;
        line-height: 1.5rem;
        margin-top: .17331553em;
        margin-bottom: .17331553em
    }
}
h5 {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 25px;
    line-height: 1.5625rem;
    display: block;
    margin-top: .20970219em;
    margin-bottom: .20970219em;
    font-style: normal;
    font-weight: 700
}
@media screen and (max-width: 45rem) {
    h5 {
        font-size: 17px;
        font-size: 1.0625rem;
        line-height: 22px;
        line-height: 1.375rem;
        margin-top: .25042778em;
        margin-bottom: .25042778em
    }
}
h6 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 21px;
    line-height: 1.3125rem;
    display: block;
    margin-top: .30799564em;
    margin-bottom: .30799564em;
    font-style: italic
}
@media screen and (max-width: 45rem) {
    h6 {
        font-size: 14px;
        font-size: .875rem;
        line-height: 19px;
        line-height: 1.1875rem;
        margin-top: .35065989em;
        margin-bottom: .35065989em
    }
}
header h1 {
    margin-bottom: 1ex
}
body details summary,
p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 21px;
    line-height: 1.3125rem;
    margin-bottom: 1ex;
    font-style: normal;
    font-weight: 500
}
@media screen and (max-width: 45rem) {
    body details summary,
    p {
        font-size: 14px;
        font-size: .875rem;
        line-height: 19px;
        line-height: 1.1875rem
    }
}
dt,
label,
strong {
    font-style: normal;
    font-weight: 700
}
em {
    font-style: italic
}
em strong,
strong em {
    font-style: oblique
}
code {
    background-color: transparent;
    border: 0;
    color: #333;
    display: block;
    font-family: monospace;
    font-size: 95%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    white-space: pre;
    word-break: break-all
}
dl {
    font-size: inherit
}
button,
button:link,
button:visited,
button[type=submit],
button[type=submit]:link,
button[type=submit]:visited,
input[type=button],
input[type=button]:link,
input[type=button]:visited,
input[type=submit],
input[type=submit]:link,
input[type=submit]:visited {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: adobe-clean, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;
    padding: 0 .75rem .0625rem;
    text-decoration: none;
    transition: background 150ms ease-out 0s, border-color 150ms ease-out 0s, color 150ms ease-out 0s, box-shadow 150ms ease-out 0s;
    vertical-align: top
}
button,
input[type=button] {
    background-color: #00f
}
button,
button:link,
button:visited,
input[type=button],
input[type=button]:link,
input[type=button]:visited {
    background: #1473e6;
    border-radius: 1rem;
    border: .125rem solid transparent;
    color: #fff
}
button:focus,
button:hover,
button:visited:hover,
button[type=submit]:focus,
button[type=submit]:hover,
button[type=submit]:visited:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=button]:visited:hover,
input[type=submit]:focus,
input[type=submit]:hover,
input[type=submit]:visited:hover {
    background-color: #005abe;
    border-color: transparent;
    color: #fff
}
button:focus,
button[type=submit]:focus,
input[type=button]:focus,
input[type=submit]:focus {
    box-shadow: 0 0 0 1px #005abe
}
button:active,
button:focus,
button:hover,
input[type=button]:active,
input[type=button]:focus,
input[type=button]:hover {
    background-color: #0000e6
}
button[type=submit],
input[type=submit] {
    background-color: #ff0
}
button[type=submit],
button[type=submit]:link,
button[type=submit]:visited,
input[type=submit],
input[type=submit]:link,
input[type=submit]:visited {
    background: #1473e6;
    border-radius: 1rem;
    border: .125rem solid transparent;
    color: #000
}
button[type=submit]:active,
button[type=submit]:focus,
button[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus,
input[type=submit]:hover {
    background-color: #ffff19
}
select {
    box-shadow: inset 0 -1px 1px #a5a5a5, inset 0 2px 0 #fff, 0 1px 2px rgba(0, 0, 0, .5);
    font-size: 13px;
    font-size: .8125rem;
    line-height: 18px;
    line-height: 1.125rem;
    padding: 1ex 1em;
    border-radius: 2px
}
@media screen and (max-width: 45rem) {
    select {
        font-size: 12px;
        font-size: .75rem;
        line-height: 17px;
        line-height: 1.0625rem
    }
}
select[class*=grid-cols],
select[class*=grid-span] {
    padding-left: 1em;
    padding-right: 1em
}
hr {
    height: 1px;
    color: #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin: 1em 0
}
ol,
ul {
    margin: 1ex 0 2ex 1em
}
ul {
    list-style: disc
}
ul ul {
    margin: 1ex 0 1ex 1em;
    list-style-type: circle
}
ul ul ul {
    list-style-type: square
}
.flex-grid>li,
.solutions-list li {
    list-style-type: none
}
ol {
    list-style: decimal
}
.reset-list,
nav ol,
nav ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.comma-list>:not(:last-child):after {
    content: ', ';
    color: initial
}
body details summary {
    line-height: 1.45;
    margin: 2ex 0
}
.text-bold,
.text-light,
.text-normal,
.text-prominent,
main.lobby .hero2 figcaption article h1.text-bold {
    font-style: normal
}
.text-light {
    font-weight: 300
}
.text-normal {
    font-weight: 500
}
.text-bold,
main.lobby .hero2 figcaption article h1.text-bold {
    font-weight: 700
}
.text-prominent {
    font-weight: 900
}
.text-italic {
    font-style: italic
}
.text-oblique {
    font-style: oblique
}
.text-alt-color {
    color: #ccc
}
.text-price {
    color: #666;
    font-style: normal;
    font-weight: 500;
    display: inline
}
.text-action {
    color: #666
}
.text-warning {
    color: red
}
.text-strike {
    text-decoration: line-through
}
html {
    height: 100%;
    font-size: 100%
}
.grid-container:after,
.grid-container:before,
.grid-row:after,
.grid-row:before,
main:after,
main:before {
    display: table;
    content: ''
}

.text-start {
    text-align: left
}
.text-end {
    text-align: right
}
.text-center {
    text-align: center
}
@media screen and (max-width: 76.2rem) {
    .text-start-tablet {
        text-align: left
    }
    .text-center-tablet {
        text-align: center
    }
    .text-end-tablet {
        text-align: right
    }
}
.text-hide {
    color: transparent;
    text-indent: -9999px
}
.text-cell {
    padding: 1ex 1em
}
.text-cell[class*=grid-cols],
.text-cell[class*=grid-span] {
    padding-left: 1em;
    padding-right: 1em
}
.text-cell-1x {
    padding: 1ex 1em
}
.text-cell-1x[class*=grid-cols],
.text-cell-1x[class*=grid-span] {
    padding-left: 1em;
    padding-right: 1em
}
.text-cell-2x {
    padding: 2ex 2em
}
.text-cell-2x[class*=grid-cols],
.text-cell-2x[class*=grid-span] {
    padding-left: 2em;
    padding-right: 2em
}
.text-cell-3x {
    padding: 3ex 3em
}
.text-cell-3x[class*=grid-cols],
.text-cell-3x[class*=grid-span] {
    padding-left: 3em;
    padding-right: 3em
}
.text-cell-4x {
    padding: 4ex 4em
}
.text-cell-4x[class*=grid-cols],
.text-cell-4x[class*=grid-span] {
    padding-left: 4em;
    padding-right: 4em
}
.text-cell-5x {
    padding: 5ex 5em
}
.text-cell-5x[class*=grid-cols],
.text-cell-5x[class*=grid-span] {
    padding-left: 5em;
    padding-right: 5em
}
.text-cell-6x {
    padding: 6ex 6em
}
.text-cell-6x[class*=grid-cols],
.text-cell-6x[class*=grid-span] {
    padding-left: 6em;
    padding-right: 6em
}
.text-cell-offset {
    margin: -2ex
}
.text-cell-offset-2x {
    margin: -4ex
}
.text-row {
    margin-bottom: 1ex
}
.text-row-2x {
    margin-bottom: 2ex
}
[class*=grid-cols],
[class*=grid-span] {
    float: left;
    min-width: .75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative
}
.grid-container {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto
}
.grid-container:after {
    clear: both
}
.grid-row {
    clear: both;
    margin-left: -1rem;
    margin-right: -1rem
}
.grid-row:after {
    clear: both
}
.grid-cols-1 {
    width: 6.25%
}
.grid-cols-1 .grid-cols-1 {
    width: 100%
}
.grid-cols-2 {
    width: 12.5%
}
.grid-cols-2 .grid-cols-1 {
    width: 50%
}
.grid-cols-2 .grid-cols-2 {
    width: 100%
}
.grid-cols-3 {
    width: 18.75%
}
.grid-cols-3 .grid-cols-1 {
    width: 33.33333333%
}
.grid-cols-3 .grid-cols-2 {
    width: 66.66666667%
}
.grid-cols-3 .grid-cols-3 {
    width: 100%
}
.grid-cols-4,
.grid-cols-4 .grid-cols-1 {
    width: 25%
}
.grid-cols-4 .grid-cols-2 {
    width: 50%
}
.grid-cols-4 .grid-cols-3 {
    width: 75%
}
.grid-cols-4 .grid-cols-4 {
    width: 100%
}
.grid-cols-5 {
    width: 31.25%
}
.grid-cols-5 .grid-cols-1 {
    width: 20%
}
.grid-cols-5 .grid-cols-2 {
    width: 40%
}
.grid-cols-5 .grid-cols-3 {
    width: 60%
}
.grid-cols-5 .grid-cols-4 {
    width: 80%
}
.grid-cols-5 .grid-cols-5 {
    width: 100%
}
.grid-cols-6 {
    width: 37.5%
}
.grid-cols-6 .grid-cols-1 {
    width: 16.66666667%
}
.grid-cols-6 .grid-cols-2 {
    width: 33.33333333%
}
.grid-cols-6 .grid-cols-3 {
    width: 50%
}
.grid-cols-6 .grid-cols-4 {
    width: 66.66666667%
}
.grid-cols-6 .grid-cols-5 {
    width: 83.33333333%
}
.grid-cols-6 .grid-cols-6 {
    width: 100%
}
.grid-cols-7 {
    width: 43.75%
}
.grid-cols-7 .grid-cols-1 {
    width: 14.28571429%
}
.grid-cols-7 .grid-cols-2 {
    width: 28.57142857%
}
.grid-cols-7 .grid-cols-3 {
    width: 42.85714286%
}
.grid-cols-7 .grid-cols-4 {
    width: 57.14285714%
}
.grid-cols-7 .grid-cols-5 {
    width: 71.42857143%
}
.grid-cols-7 .grid-cols-6 {
    width: 85.71428571%
}
.grid-cols-7 .grid-cols-7 {
    width: 100%
}
.grid-cols-8 {
    width: 50%
}
.grid-cols-8 .grid-cols-1 {
    width: 12.5%
}
.grid-cols-8 .grid-cols-2 {
    width: 25%
}
.grid-cols-8 .grid-cols-3 {
    width: 37.5%
}
.grid-cols-8 .grid-cols-4 {
    width: 50%
}
.grid-cols-8 .grid-cols-5 {
    width: 62.5%
}
.grid-cols-8 .grid-cols-6 {
    width: 75%
}
.grid-cols-8 .grid-cols-7 {
    width: 87.5%
}
.grid-cols-8 .grid-cols-8 {
    width: 100%
}
.grid-cols-9 {
    width: 56.25%
}
.grid-cols-9 .grid-cols-1 {
    width: 11.11111111%
}
.grid-cols-9 .grid-cols-2 {
    width: 22.22222222%
}
.grid-cols-9 .grid-cols-3 {
    width: 33.33333333%
}
.grid-cols-9 .grid-cols-4 {
    width: 44.44444444%
}
.grid-cols-9 .grid-cols-5 {
    width: 55.55555556%
}
.grid-cols-9 .grid-cols-6 {
    width: 66.66666667%
}
.grid-cols-9 .grid-cols-7 {
    width: 77.77777778%
}
.grid-cols-9 .grid-cols-8 {
    width: 88.88888889%
}
.grid-cols-9 .grid-cols-9 {
    width: 100%
}
.grid-cols-10 {
    width: 62.5%
}
.grid-cols-10 .grid-cols-1 {
    width: 10%
}
.grid-cols-10 .grid-cols-2 {
    width: 20%
}
.grid-cols-10 .grid-cols-3 {
    width: 30%
}
.grid-cols-10 .grid-cols-4 {
    width: 40%
}
.grid-cols-10 .grid-cols-5 {
    width: 50%
}
.grid-cols-10 .grid-cols-6 {
    width: 60%
}
.grid-cols-10 .grid-cols-7 {
    width: 70%
}
.grid-cols-10 .grid-cols-8 {
    width: 80%
}
.grid-cols-10 .grid-cols-9 {
    width: 90%
}
.grid-cols-10 .grid-cols-10 {
    width: 100%
}
.grid-cols-11 {
    width: 68.75%
}
.grid-cols-11 .grid-cols-1 {
    width: 9.09090909%
}
.grid-cols-11 .grid-cols-2 {
    width: 18.18181818%
}
.grid-cols-11 .grid-cols-3 {
    width: 27.27272727%
}
.grid-cols-11 .grid-cols-4 {
    width: 36.36363636%
}
.grid-cols-11 .grid-cols-5 {
    width: 45.45454545%
}
.grid-cols-11 .grid-cols-6 {
    width: 54.54545455%
}
.grid-cols-11 .grid-cols-7 {
    width: 63.63636364%
}
.grid-cols-11 .grid-cols-8 {
    width: 72.72727273%
}
.grid-cols-11 .grid-cols-9 {
    width: 81.81818182%
}
.grid-cols-11 .grid-cols-10 {
    width: 90.90909091%
}
.grid-cols-11 .grid-cols-11 {
    width: 100%
}
.grid-cols-12 {
    width: 75%
}
.grid-cols-12 .grid-cols-1 {
    width: 8.33333333%
}
.grid-cols-12 .grid-cols-2 {
    width: 16.66666667%
}
.grid-cols-12 .grid-cols-3 {
    width: 25%
}
.grid-cols-12 .grid-cols-4 {
    width: 33.33333333%
}
.grid-cols-12 .grid-cols-5 {
    width: 41.66666667%
}
.grid-cols-12 .grid-cols-6 {
    width: 50%
}
.grid-cols-12 .grid-cols-7 {
    width: 58.33333333%
}
.grid-cols-12 .grid-cols-8 {
    width: 66.66666667%
}
.grid-cols-12 .grid-cols-9 {
    width: 75%
}
.grid-cols-12 .grid-cols-10 {
    width: 83.33333333%
}
.grid-cols-12 .grid-cols-11 {
    width: 91.66666667%
}
.grid-cols-12 .grid-cols-12 {
    width: 100%
}
.grid-cols-13 {
    width: 81.25%
}
.grid-cols-13 .grid-cols-1 {
    width: 7.69230769%
}
.grid-cols-13 .grid-cols-2 {
    width: 15.38461538%
}
.grid-cols-13 .grid-cols-3 {
    width: 23.07692308%
}
.grid-cols-13 .grid-cols-4 {
    width: 30.76923077%
}
.grid-cols-13 .grid-cols-5 {
    width: 38.46153846%
}
.grid-cols-13 .grid-cols-6 {
    width: 46.15384615%
}
.grid-cols-13 .grid-cols-7 {
    width: 53.84615385%
}
.grid-cols-13 .grid-cols-8 {
    width: 61.53846154%
}
.grid-cols-13 .grid-cols-9 {
    width: 69.23076923%
}
.grid-cols-13 .grid-cols-10 {
    width: 76.92307692%
}
.grid-cols-13 .grid-cols-11 {
    width: 84.61538462%
}
.grid-cols-13 .grid-cols-12 {
    width: 92.30769231%
}
.grid-cols-13 .grid-cols-13 {
    width: 100%
}
.grid-cols-14 {
    width: 87.5%
}
.grid-cols-14 .grid-cols-1 {
    width: 7.14285714%
}
.grid-cols-14 .grid-cols-2 {
    width: 14.28571429%
}
.grid-cols-14 .grid-cols-3 {
    width: 21.42857143%
}
.grid-cols-14 .grid-cols-4 {
    width: 28.57142857%
}
.grid-cols-14 .grid-cols-5 {
    width: 35.71428571%
}
.grid-cols-14 .grid-cols-6 {
    width: 42.85714286%
}
.grid-cols-14 .grid-cols-7 {
    width: 50%
}
.grid-cols-14 .grid-cols-8 {
    width: 57.14285714%
}
.grid-cols-14 .grid-cols-9 {
    width: 64.28571429%
}
.grid-cols-14 .grid-cols-10 {
    width: 71.42857143%
}
.grid-cols-14 .grid-cols-11 {
    width: 78.57142857%
}
.grid-cols-14 .grid-cols-12 {
    width: 85.71428571%
}
.grid-cols-14 .grid-cols-13 {
    width: 92.85714286%
}
.grid-cols-14 .grid-cols-14 {
    width: 100%
}
.grid-cols-15 {
    width: 93.75%
}
.grid-cols-15 .grid-cols-1 {
    width: 6.66666667%
}
.grid-cols-15 .grid-cols-2 {
    width: 13.33333333%
}
.grid-cols-15 .grid-cols-3 {
    width: 20%
}
.grid-cols-15 .grid-cols-4 {
    width: 26.66666667%
}
.grid-cols-15 .grid-cols-5 {
    width: 33.33333333%
}
.grid-cols-15 .grid-cols-6 {
    width: 40%
}
.grid-cols-15 .grid-cols-7 {
    width: 46.66666667%
}
.grid-cols-15 .grid-cols-8 {
    width: 53.33333333%
}
.grid-cols-15 .grid-cols-9 {
    width: 60%
}
.grid-cols-15 .grid-cols-10 {
    width: 66.66666667%
}
.grid-cols-15 .grid-cols-11 {
    width: 73.33333333%
}
.grid-cols-15 .grid-cols-12 {
    width: 80%
}
.grid-cols-15 .grid-cols-13 {
    width: 86.66666667%
}
.grid-cols-15 .grid-cols-14 {
    width: 93.33333333%
}
.grid-cols-15 .grid-cols-15,
.grid-cols-16 {
    width: 100%
}
.grid-cols-16 .grid-cols-1 {
    width: 6.25%
}
.grid-cols-16 .grid-cols-2 {
    width: 12.5%
}
.grid-cols-16 .grid-cols-3 {
    width: 18.75%
}
.grid-cols-16 .grid-cols-4 {
    width: 25%
}
.grid-cols-16 .grid-cols-5 {
    width: 31.25%
}
.grid-cols-16 .grid-cols-6 {
    width: 37.5%
}
.grid-cols-16 .grid-cols-7 {
    width: 43.75%
}
.grid-cols-16 .grid-cols-8 {
    width: 50%
}
.grid-cols-16 .grid-cols-9 {
    width: 56.25%
}
.grid-cols-16 .grid-cols-10 {
    width: 62.5%
}
.grid-cols-16 .grid-cols-11 {
    width: 68.75%
}
.grid-cols-16 .grid-cols-12 {
    width: 75%
}
.grid-cols-16 .grid-cols-13 {
    width: 81.25%
}
.grid-cols-16 .grid-cols-14 {
    width: 87.5%
}
.grid-cols-16 .grid-cols-15 {
    width: 93.75%
}
.grid-cols-1 .grid-cols-1,
.grid-cols-1 .grid-cols-10,
.grid-cols-1 .grid-cols-11,
.grid-cols-1 .grid-cols-12,
.grid-cols-1 .grid-cols-13,
.grid-cols-1 .grid-cols-14,
.grid-cols-1 .grid-cols-15,
.grid-cols-1 .grid-cols-16,
.grid-cols-1 .grid-cols-2,
.grid-cols-1 .grid-cols-3,
.grid-cols-1 .grid-cols-4,
.grid-cols-1 .grid-cols-5,
.grid-cols-1 .grid-cols-6,
.grid-cols-1 .grid-cols-7,
.grid-cols-1 .grid-cols-8,
.grid-cols-1 .grid-cols-9,
.grid-cols-10 .grid-cols-10,
.grid-cols-10 .grid-cols-11,
.grid-cols-10 .grid-cols-12,
.grid-cols-10 .grid-cols-13,
.grid-cols-10 .grid-cols-14,
.grid-cols-10 .grid-cols-15,
.grid-cols-10 .grid-cols-16,
.grid-cols-11 .grid-cols-11,
.grid-cols-11 .grid-cols-12,
.grid-cols-11 .grid-cols-13,
.grid-cols-11 .grid-cols-14,
.grid-cols-11 .grid-cols-15,
.grid-cols-11 .grid-cols-16,
.grid-cols-12 .grid-cols-12,
.grid-cols-12 .grid-cols-13,
.grid-cols-12 .grid-cols-14,
.grid-cols-12 .grid-cols-15,
.grid-cols-12 .grid-cols-16,
.grid-cols-13 .grid-cols-13,
.grid-cols-13 .grid-cols-14,
.grid-cols-13 .grid-cols-15,
.grid-cols-13 .grid-cols-16,
.grid-cols-14 .grid-cols-14,
.grid-cols-14 .grid-cols-15,
.grid-cols-14 .grid-cols-16,
.grid-cols-15 .grid-cols-15,
.grid-cols-15 .grid-cols-16,
.grid-cols-16 .grid-cols-16,
.grid-cols-2 .grid-cols-10,
.grid-cols-2 .grid-cols-11,
.grid-cols-2 .grid-cols-12,
.grid-cols-2 .grid-cols-13,
.grid-cols-2 .grid-cols-14,
.grid-cols-2 .grid-cols-15,
.grid-cols-2 .grid-cols-16,
.grid-cols-2 .grid-cols-2,
.grid-cols-2 .grid-cols-3,
.grid-cols-2 .grid-cols-4,
.grid-cols-2 .grid-cols-5,
.grid-cols-2 .grid-cols-6,
.grid-cols-2 .grid-cols-7,
.grid-cols-2 .grid-cols-8,
.grid-cols-2 .grid-cols-9,
.grid-cols-3 .grid-cols-10,
.grid-cols-3 .grid-cols-11,
.grid-cols-3 .grid-cols-12,
.grid-cols-3 .grid-cols-13,
.grid-cols-3 .grid-cols-14,
.grid-cols-3 .grid-cols-15,
.grid-cols-3 .grid-cols-16,
.grid-cols-3 .grid-cols-3,
.grid-cols-3 .grid-cols-4,
.grid-cols-3 .grid-cols-5,
.grid-cols-3 .grid-cols-6,
.grid-cols-3 .grid-cols-7,
.grid-cols-3 .grid-cols-8,
.grid-cols-3 .grid-cols-9,
.grid-cols-4 .grid-cols-10,
.grid-cols-4 .grid-cols-11,
.grid-cols-4 .grid-cols-12,
.grid-cols-4 .grid-cols-13,
.grid-cols-4 .grid-cols-14,
.grid-cols-4 .grid-cols-15,
.grid-cols-4 .grid-cols-16,
.grid-cols-4 .grid-cols-4,
.grid-cols-4 .grid-cols-5,
.grid-cols-4 .grid-cols-6,
.grid-cols-4 .grid-cols-7,
.grid-cols-4 .grid-cols-8,
.grid-cols-4 .grid-cols-9,
.grid-cols-5 .grid-cols-10,
.grid-cols-5 .grid-cols-11,
.grid-cols-5 .grid-cols-12,
.grid-cols-5 .grid-cols-13,
.grid-cols-5 .grid-cols-14,
.grid-cols-5 .grid-cols-15,
.grid-cols-5 .grid-cols-16,
.grid-cols-5 .grid-cols-5,
.grid-cols-5 .grid-cols-6,
.grid-cols-5 .grid-cols-7,
.grid-cols-5 .grid-cols-8,
.grid-cols-5 .grid-cols-9,
.grid-cols-6 .grid-cols-10,
.grid-cols-6 .grid-cols-11,
.grid-cols-6 .grid-cols-12,
.grid-cols-6 .grid-cols-13,
.grid-cols-6 .grid-cols-14,
.grid-cols-6 .grid-cols-15,
.grid-cols-6 .grid-cols-16,
.grid-cols-6 .grid-cols-6,
.grid-cols-6 .grid-cols-7,
.grid-cols-6 .grid-cols-8,
.grid-cols-6 .grid-cols-9,
.grid-cols-7 .grid-cols-10,
.grid-cols-7 .grid-cols-11,
.grid-cols-7 .grid-cols-12,
.grid-cols-7 .grid-cols-13,
.grid-cols-7 .grid-cols-14,
.grid-cols-7 .grid-cols-15,
.grid-cols-7 .grid-cols-16,
.grid-cols-7 .grid-cols-7,
.grid-cols-7 .grid-cols-8,
.grid-cols-7 .grid-cols-9,
.grid-cols-8 .grid-cols-10,
.grid-cols-8 .grid-cols-11,
.grid-cols-8 .grid-cols-12,
.grid-cols-8 .grid-cols-13,
.grid-cols-8 .grid-cols-14,
.grid-cols-8 .grid-cols-15,
.grid-cols-8 .grid-cols-16,
.grid-cols-8 .grid-cols-8,
.grid-cols-8 .grid-cols-9,
.grid-cols-9 .grid-cols-10,
.grid-cols-9 .grid-cols-11,
.grid-cols-9 .grid-cols-12,
.grid-cols-9 .grid-cols-13,
.grid-cols-9 .grid-cols-14,
.grid-cols-9 .grid-cols-15,
.grid-cols-9 .grid-cols-16,
.grid-cols-9 .grid-cols-9,
.grid-cols-safety {
    width: 100%
}
.grid-span-1of10 {
    width: 10%
}
.grid-span-3of10 {
    width: 30%
}
.grid-span-7of10 {
    width: 70%
}
.grid-span-9of10 {
    width: 90%
}
.grid-span-1of9 {
    width: 11%
}
.grid-span-2of9 {
    width: 22%
}
.grid-span-4of9 {
    width: 44%
}
.grid-span-5of9 {
    width: 56%
}
.grid-span-7of9 {
    width: 78%
}
.grid-span-8of9 {
    width: 88.88%
}
.grid-span-1of8 {
    width: 12.5%
}
.grid-span-3of8 {
    width: 37.5%
}
.grid-span-5of8 {
    width: 62.5%
}
.grid-span-7of8 {
    width: 87.5%
}
.grid-span-1of7 {
    width: 14.25%
}
.grid-span-2of7 {
    width: 28.6%
}
.grid-span-3of7 {
    width: 42.9%
}
.grid-span-4of7 {
    width: 57.1%
}
.grid-span-5of7 {
    width: 71.4%
}
.grid-span-6of7 {
    width: 85.7%
}
.grid-span-1of6 {
    width: 16.67%
}
.grid-span-5of6 {
    width: 83.33%
}
.grid-span-1of5 {
    width: 20%
}
.grid-span-2of5 {
    width: 40%
}
.grid-span-3of5 {
    width: 60%
}
.grid-span-4of5 {
    width: 80%
}
.grid-span-1of4 {
    width: 25%
}
.grid-span-3of4 {
    width: 75%
}
.grid-span-1of3 {
    width: 33.33%
}
.grid-span-2of3 {
    width: 66.67%
}
.grid-span-1of2 {
    width: 50%
}
.grid-span-10of10,
.grid-span-2of2,
.grid-span-3of3,
.grid-span-4of4,
.grid-span-5of5,
.grid-span-6of6,
.grid-span-7of7,
.grid-span-8of8,
.grid-span-9of9,
div.background>img {
    width: 100%
}
.grid-offset-1 {
    margin-left: 6.25%
}
.grid-offset-2 {
    margin-left: 12.5%
}
.grid-offset-3 {
    margin-left: 18.75%
}
.grid-offset-4 {
    margin-left: 25%
}
.grid-offset-5 {
    margin-left: 31.25%
}
.grid-offset-6 {
    margin-left: 37.5%
}
.grid-offset-7 {
    margin-left: 43.75%
}
.grid-offset-8 {
    margin-left: 50%
}
.grid-offset-9 {
    margin-left: 56.25%
}
.grid-offset-10 {
    margin-left: 62.5%
}
.grid-offset-11 {
    margin-left: 68.75%
}
.grid-offset-12 {
    margin-left: 75%
}
.grid-offset-13 {
    margin-left: 81.25%
}
.grid-offset-14 {
    margin-left: 87.5%
}
.grid-offset-15 {
    margin-left: 93.75%
}
.grid-offset-16 {
    margin-left: 100%
}
.grid-padded-b {
    padding-bottom: 1ex
}
.grid-padded-b2x {
    padding-bottom: 2ex
}
.grid-padded-b3x {
    padding-bottom: 3ex
}
.grid-padded-b4x {
    padding-bottom: 4ex
}
.grid-padded-b5x {
    padding-bottom: 5ex
}
.grid-padded-b6x {
    padding-bottom: 6ex
}
.grid-padded-b7x {
    padding-bottom: 7ex
}
.grid-padded-b8x {
    padding-bottom: 8ex
}
.grid-padded-b9x {
    padding-bottom: 9ex
}
.grid-padded-b10x {
    padding-bottom: 10ex
}
.grid-padded-t {
    padding-top: 1ex
}
.grid-padded-t2x {
    padding-top: 2ex
}
.grid-padded-t3x {
    padding-top: 3ex
}
.grid-padded-t4x {
    padding-top: 4ex
}
.grid-padded-t5x {
    padding-top: 5ex
}
.grid-padded-t6x {
    padding-top: 6ex
}
.grid-padded-t7x {
    padding-top: 7ex
}
.grid-padded-t8x {
    padding-top: 8ex
}
.grid-padded-t9x {
    padding-top: 9ex
}
.grid-padded-t10x {
    padding-top: 10ex
}
.grid-padded-v {
    padding-top: 1ex
}
.grid-padded-v2x {
    padding-top: 2ex;
    padding-bottom: 2ex
}
.grid-padded-v3x {
    padding-top: 3ex;
    padding-bottom: 3ex
}
.grid-padded-v4x {
    padding-top: 4ex;
    padding-bottom: 4ex
}
.grid-padded-v5x {
    padding-top: 5ex;
    padding-bottom: 5ex
}
.grid-padded-v6x {
    padding-top: 6ex;
    padding-bottom: 6ex
}
.grid-padded-v7x {
    padding-top: 7ex;
    padding-bottom: 7ex
}
.grid-padded-v8x {
    padding-top: 8ex;
    padding-bottom: 8ex
}
.grid-padded-v9x {
    padding-top: 9ex;
    padding-bottom: 9ex
}
.grid-padded-v10x {
    padding-top: 10ex;
    padding-bottom: 10ex
}
@media screen and (max-width: 36rem) {
    .text-start-phone {
        text-align: left
    }
    .text-center-phone {
        text-align: center
    }
    .text-end-phone {
        text-align: right
    }
    body {
        width: 100%
    }
    [class*=grid-cols-],
    [class*=grid-span-] {
        width: 100%;
        clear: both;
        border: 0
    }
    [class*=grid-cols-].push,
    [class*=grid-span-].push {
        border-bottom: 1px inset #e5e5e5
    }
    [class*=grid-cols-].push>*,
    [class*=grid-span-].push>* {
        text-align: left
    }
    [class*=grid-cols-]>.grid-row [class*=grid-cols-],
    [class*=grid-cols-]>.grid-row [class*=grid-span-],
    [class*=grid-span-]>.grid-row [class*=grid-cols-],
    [class*=grid-span-]>.grid-row [class*=grid-span-] {
        width: 100%;
        clear: both;
        border: 0
    }
    [class*=grid-offset] {
        margin-left: 0
    }
}
main:after {
    clear: both
}
.push,
[dir=rtl] .pull {
    float: right
}
.push>* {
    text-align: right
}
[dir=rtl] .push {
    float: left
}
[dir=rtl] .push>* {
    text-align: left
}
.float-container {
    min-height: 0;
    display: block
}
.float-container:after,
.float-container:before {
    display: table;
    content: ''
}
.float-container:after {
    clear: both
}
.hide {
    display: none
}
.sectionBreak {
    padding-top: 4.444rem
}
.no-wrap {
    white-space: nowrap
}
.text-wrap {
    white-space: normal
}
[class*=' pos-']:after,
[class*=' pos-']:before,
[class^=pos-]:after,
[class^=pos-]:before {
    display: table;
    content: ''
}
[class*=' pos-']:after,
[class^=pos-]:after {
    clear: both
}
.pos-top {
    top: 0
}
.pos-right {
    right: 0
}
.pos-bottom {
    bottom: 0
}
.pos-left {
    left: 0
}
.pos-center {
    left: 0;
    right: 0;
    margin: auto
}
.pos-top-right {
    top: 0;
    right: 0
}
.pos-top-left {
    top: 0;
    left: 0
}
.pos-top-center {
    top: 0;
    left: 0;
    right: 0;
    margin: auto
}
.pos-bottom-right {
    bottom: 0;
    right: 0
}
.pos-bottom-left {
    bottom: 0;
    left: 0
}
.pos-bottom-center {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}
.pos-center-left {
    margin: auto 0;
    bottom: 0;
    left: 0;
    top: 0
}
.pos-center-center {
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}
.pos-center-right {
    margin: auto 0;
    bottom: 0;
    right: 0;
    top: 0
}


/* =================================================================================== */
/* Hero Banners */
/* =================================================================================== */
.hero_banner_bg {
  position: relative;
  height: 100%;
  background-color: magento;
  opacity: 0.8;
}
.hero_banner {
  position: relative;
  height:400px;
  background-size: cover;
  width:100%;
  background-image: url(../images/pexels-photo-443383.jpeg);
}
.hero_banner_text {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
    color: #FFF;
}
.hero_text {
    position: absolute;
    top: 250px;
    left: 25%;
    color: #FFF;
    width: 50%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}
/* =================================================================================== */